@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

body{
    background-color: #2a2b2a;
}


.teste {
    float: right;
    margin-top: 50px;
    margin-right: 90px;
    display: flex;
    gap: 10px;
}

.nomebarra {
    font-size: 28pt;
    list-style-type: none;
    text-decoration: none;
    color: #E54900;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.nomebarra :hover{
    color: white;
    background-color: #E54900;
}

.referrers {
    letter-spacing: .3em;
}


.ola {
    padding-left: 130px;
    padding-top: 50px;
    font-size: 48pt;
    color: white;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    span {
        color: #E54900;
    }
    display: grid;
}

.textocontato {
    padding-top: 150px;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    color: #E54900;
    letter-spacing: .3em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32pt;
}

.imagens {
    justify-content: center;
    display: flex;
    gap: 150px;
}


.icon-linkedin {
    width: 200px;
    height: 200px;
}

.icon-github {
    width: 200px;
    height: 200px;
}

.icon-wpp {
    width: 200px;
    height: 200px;
}

.texto-email {
    padding-top: 50px;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    color: #E54900;
    letter-spacing: .3em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32pt;
    span {
        color: white;
    }
    :hover {
        color: #E54900;
    }
}
