@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

body{
    background-color: #2a2b2a;
}


.teste {
    float: right;
    margin-top: 50px;
    margin-right: 90px;
    display: flex;
    gap: 10px;
}

.nomebarra {
    font-size: 24pt;
    list-style-type: none;
    text-decoration: none;
    color: #E54900;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.nomebarra :hover{
    color: white;
    background-color: #E54900;
}

.referrers {
    letter-spacing: .1em;
}


.ola {
    padding-left: 130px;
    padding-top: 50px;
    font-size: 48pt;
    color: white;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    span {
        color: #E54900;
    }
    display: grid;
}

.gif-img {
    padding-left: 130px;
    position: absolute;
    border-radius: 40%;
    width: 850px;
    height: 600px;
    object-fit: cover;
    object-position: 50% 50%;
}

.textoimglivro {
    display: flex;
}

.flexbox {
    display: grid;
    text-align: right;
    padding-right: 90px;
    font-family: 'Lexend', sans-serif;
    color: #E54900;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-left: 1100px;
    font-size: 36pt ;
}

.textoimgplace {
    text-align: right;
    padding-right: 90px;
    font-family: 'Lexend', sans-serif;
    color: #E54900;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-left: 100px;
}

.texto-deonde {
    font-size: 24pt;
    letter-spacing: .1em;
    color: white;
}

.deondevim {
    font-size: 60pt;
    letter-spacing: .1em;
    display: flex;
    justify-content: right;
}


.texto-sobre {
    font-size: 24pt;
    letter-spacing: .1em;
    color: white;
}

.user-place {
    width: 100px;
    height: 100px;
    padding-right: 10px;
}

.sobremim {
    display: flex;
    justify-content: right;
    font-size: 60pt;
}

.user-sobre {
    width: 110px;
    height: 110px;
    padding-right: 10px;
}

.textoimgbook {
    display: inline;
}

.oqestudo {
    padding-left: 130px;
    font-family: 'Lexend', sans-serif;
    color: #E54900;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 60pt;
    display: flex;
}

.gif2 {
    float: right;
    padding-right: 130px;
    position: relative;
    padding-top: 50px;
    width: 860px;
    height: 650px;
    border-radius: 20%;
    object-fit: cover;
    object-position: 50% 50%;
}

.user-book {
    width: 100px;
    height: 100px;
    padding-left: 10px;
}

.texto-oqestudo {
    padding-left: 130px;
    font-size: 24pt;
    font-family: 'Lexend', sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-right: 1100px;
}

.pqestudo {
    padding-left: 130px;
    font-family: 'Lexend', sans-serif;
    color: #E54900;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 60pt;
    display: flex;
}


.comocomecei {
    padding-left: 130px;
    font-family: 'Lexend', sans-serif;
    color: #E54900;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 60pt;
    display: flex;
}

.texto-pqestudo {
    padding-left: 130px;
    font-size: 24pt;
    font-family: 'Lexend', sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-right: 1100px;
}

.texto-comocomecei {
    padding-left: 130px;
    font-size: 24pt;
    font-family: 'Lexend', sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-right: 90px;
}

.user-interrogation {
    width: 90px;
    height: 90px;
    padding-left: 10px;
}

.flexbox3 {
    background-color: #2a2b2a;
    text-align: left;
    display: flex;
}

.imagem-skills {
    width: 1967px;
    height: 1981px;
    margin-top: 150px;
    margin-left: 130px;
    margin-bottom: 130px;
}

.languages {
    margin-top: 770px;
    margin-right: 550px;
    font-size: 52pt;
    width: 1162px;
    height: 760px;
    object-fit: fill;
    object-position: 50% 50%;
}

.linhadotempo {
    font-size: 60pt;
    margin-left: 130px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 350px;
    color: white;
    letter-spacing: .2em;
}

.linhacronologica {
    width: 3000px;
    height: 1350px;
    margin-left: 250px;
    object-fit: fill;
}
